In [5]:
import pandas as pd
from common import data_path

In [6]:
ava_ori= pd.read_csv("../data/raw_labels/AVA.txt", sep=" ",
                       names=["index", "img_id",
                              "score_1", "score_2", "score_3", "score_4", "score_5",
                              "score_6", "score_7", "score_8", "score_9", "score_10",
                              "sem_id_1", "sem_id_2",
                              "challenge_id"])

ava_pro = pd.read_csv(data_path / "ava.csv")

In [12]:
ava_new = pd.merge(left=ava_ori, right=ava_pro)
ava_new.drop(["sem_id_1", "sem_id_2", "challenge_id"], axis=1, inplace=True)
ava_new.head(10)

,index,img_id,score_1,score_2,score_3,score_4,score_5,score_6,score_7,score_8,score_9,score_10,avg_score
0,23,954228,5,9,17,17,43,18,12,1,5,2,4.822
1,30,953348,0,0,9,16,62,23,10,2,0,1,5.163
2,60,953794,0,0,5,30,48,30,9,1,2,1,5.190
3,97,954206,0,0,8,17,53,31,7,4,1,1,5.270
4,105,954133,1,0,9,22,51,32,5,0,0,0,4.983
5,117,954220,0,1,9,22,48,36,7,1,1,0,5.112
6,209,771404,3,7,32,53,55,15,2,4,0,1,4.337
7,224,770238,0,0,2,7,40,57,35,16,5,3,6.206
8,241,771425,5,16,37,59,30,9,3,1,1,0,3.888
9,271,771107,0,1,9,36,76,24,12,5,1,0,5.061

In [18]:
ava_pro.to_csv(data_path / "ava_old.csv", index=False)
ava_new.to_csv(data_path / "ava.csv", index=False)