In [1]:
import pandas as pd

In [2]:
# 加载标签并简单查看标签
ava_data = pd.read_csv("../data/raw_labels/AVA.txt", sep=" ",
                       names=["index", "img_id",
                              "score_1", "score_2", "score_3", "score_4", "score_5",
                              "score_6", "score_7", "score_8", "score_9", "score_10",
                              "sem_id_1", "sem_id_2",
                              "challenge_id"])

ava_data.head(10)

,index,img_id,score_1,score_2,score_3,score_4,score_5,score_6,score_7,score_8,score_9,score_10,sem_id_1,sem_id_2,challenge_id
0,1,953619,0,1,5,17,38,36,15,6,5,1,1,22,1396
1,2,953958,10,7,15,26,26,21,10,8,1,2,1,21,1396
2,3,954184,0,0,4,8,41,56,10,3,4,0,0,0,1396
3,4,954113,0,1,4,6,48,37,23,5,2,2,15,21,1396
4,5,953980,0,3,6,15,57,39,6,1,1,1,22,38,1396
5,6,954175,0,0,5,13,40,53,14,1,3,1,15,65,1396
6,7,953349,1,1,1,7,27,46,28,13,4,0,16,21,1396
7,8,953645,0,0,0,8,33,51,27,3,3,2,0,0,1396
8,9,953897,0,0,0,5,19,46,29,22,5,2,7,14,1396
9,10,953841,0,0,3,8,37,44,22,9,4,2,14,53,1396

In [3]:
# 用于删除无用的列
ava_data.drop(labels=["sem_id_1", "sem_id_2", "challenge_id"], axis=1, inplace=True)
ava_data.head(10)

,index,img_id,score_1,score_2,score_3,score_4,score_5,score_6,score_7,score_8,score_9,score_10
0,1,953619,0,1,5,17,38,36,15,6,5,1
1,2,953958,10,7,15,26,26,21,10,8,1,2
2,3,954184,0,0,4,8,41,56,10,3,4,0
3,4,954113,0,1,4,6,48,37,23,5,2,2
4,5,953980,0,3,6,15,57,39,6,1,1,1
5,6,954175,0,0,5,13,40,53,14,1,3,1
6,7,953349,1,1,1,7,27,46,28,13,4,0
7,8,953645,0,0,0,8,33,51,27,3,3,2
8,9,953897,0,0,0,5,19,46,29,22,5,2
9,10,953841,0,0,3,8,37,44,22,9,4,2

In [4]:
# 对打分进行直接求和和加权求和
score_cols = ["score_1", "score_2", "score_3", "score_4", "score_5",
              "score_6", "score_7", "score_8", "score_9", "score_10"]

ava_data["score"] = sum(ava_data[score_cols[i - 1]] * i for i in range(1, 11))  # 总分
ava_data["count"] = sum(ava_data[score_cols[i - 1]] for i in range(1, 11))  # 有多少人进行投票
ava_data["avg_score"] = round(ava_data["score"] / ava_data["count"], 3)  # 最终分值，保留到小数点后三位

ava_data.head(10)

,index,img_id,score_1,score_2,score_3,score_4,score_5,score_6,score_7,score_8,score_9,score_10,score,count,avg_score
0,1,953619,0,1,5,17,38,36,15,6,5,1,699,124,5.637
1,2,953958,10,7,15,26,26,21,10,8,1,2,592,126,4.698
2,3,954184,0,0,4,8,41,56,10,3,4,0,715,126,5.675
3,4,954113,0,1,4,6,48,37,23,5,2,2,739,128,5.773
4,5,953980,0,3,6,15,57,39,6,1,1,1,672,129,5.209
5,6,954175,0,0,5,13,40,53,14,1,3,1,728,130,5.600
6,7,953349,1,1,1,7,27,46,28,13,4,0,781,128,6.102
7,8,953645,0,0,0,8,33,51,27,3,3,2,763,127,6.008
8,9,953897,0,0,0,5,19,46,29,22,5,2,835,128,6.523
9,10,953841,0,0,3,8,37,44,22,9,4,2,772,129,5.984

In [5]:
# 再次删除无用列
ava_data.drop(labels=["score", "count", *score_cols], axis=1, inplace=True)
ava_data.head(10)

   index  img_id  avg_score
0      1  953619      5.637
1      2  953958      4.698
2      3  954184      5.675
3      4  954113      5.773
4      5  953980      5.209
5      6  954175      5.600
6      7  953349      6.102
7      8  953645      6.008
8      9  953897      6.523
9     10  953841      5.984

In [6]:
# 随机选取一万张图片作为最终数据集
ava_data = ava_data.sample(10000, random_state=20010125)  #为保证结果可以复现，这里我用的是我的生日，运行一次即可
ava_data.head(100)

         index  img_id  avg_score
221233  221234  701246      6.172
82612    82613  603675      6.016
121343  121344  248467      6.128
133982  133983  150464      4.679
253183  253184  905387      4.969
...        ...     ...        ...
9056      9057  616741      5.914
211031  211032    3960      5.375
238133  238134  174698      4.401
95706    95707  886994      5.197
39495    39496  783474      5.387

[100 rows x 3 columns]

In [7]:
# 保存标签文件
ava_data.to_csv("../data/ava.csv", index=False)

In [8]:
# 复制图片到ava文件夹中
from pathlib import Path
from shutil import copy

src_path = Path("C:\Dataset\AVA\images\images")  # 这里需要改成你自己存放AVA数据集图片的位置
dest_path = Path("../data/ava")

for index in ava_data["img_id"]:
    path = src_path / f"{index}.jpg"
    if path.exists():
        copy(path.absolute(), "../data/ava")